  .container {
    max-width: 960px;
  }
  main {
    min-height: calc(100vh - 215px);
  }

  .cont {
    overflow: auto;
    height: 200px;
  }

 /* .editIcon {
    color: grey;
background-color: yellow;
padding: 5px;
border: 2px solid;
cursor: pointer;
margin-left: 10px;
width: 30px;


}

.deleteIcon {
  background-color: red;
  padding: 5px;
  border: 2px solid;
  cursor: pointer;
  width: 30px;


}
*/
/* Estilo solo para el botón de icono específico */
.custom-delete-btn {
  cursor: pointer;
  color: inherit;
  padding: 3px 6px;
}

/* Estilo para el cursor cuando se coloca sobre el botón específico */
.custom-delete-btn:hover {
  color: red;
}

/* Estilo solo para el botón de icono específico */
.custom-edit-btn {
  cursor: pointer;
  color: inherit;
margin-left: 20px;
padding: 3px 6px;
}

/* Estilo para el cursor cuando se coloca sobre el botón específico */
.custom-edit-btn:hover {
  color: rgb(234, 234, 50);
 

}
